# ==========================================
# FLUTTER / DART
# ==========================================

.dart_tool/
build/
.pub-cache/

.flutter-plugins
.flutter-plugins-dependencies
.packages


# ==========================================
# ANDROID / GRADLE
# ==========================================

.gradle/


# ==========================================
# IDE / EDITOR
# ==========================================

.idea/
*.iml
.vscode/


# ==========================================
# LOG & TEMPORARY FILES
# ==========================================

*.log
*.tmp


# ==========================================
# ENVIRONMENT / SECRET FILES
# ==========================================

.env
.env.*
*.key
*.pem


# ==========================================
# WINDOWS SYSTEM FILES
# ==========================================

Thumbs.db
Desktop.ini